/*
font-family: 'Barlow', sans-serif;
font-family: 'Rajdhani', sans-serif; 
*/

/* Color palette:
Rouge foncé : #d92332
Rouge clair : #d94350
Saumon      : #d9777f
Noir        : #262526
Blanc       : #F2F2F2 
*/

/* Titre principal */
.headline {
  font-family: "Rajdhani", sans-serif;
}

/* Corps du texte */
.text-body {
  font-family: "Barlow", sans-serif;
}
/* Styles pour la navigation */
.container-fluid.sticky-top {
  background-color: #d92332;
}

a {
  font-family: "Barlow", sans-serif;
}

.container-fluid.sticky-top h1,
.container-fluid.sticky-top a.navbar-brand,
.container-fluid.sticky-top .navbar-nav .nav-link {
  color: #fff;
  font-weight: bold;
}

.bg-color {
  background-color: #d92332;
}

.text-white {
  color: #ffffff;
}

/* Styles pour le footer */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.content {
  min-height: 100%;
  /* Réglez la marge inférieure en fonction de la hauteur du footer */
  margin-bottom: 100px;
}

.footer {
  height: 100px; /* Hauteur du footer */
  width: 100%;
  position: fixed;
  bottom: 0;
}

@media (max-width: 767px) {
  .footer {
    position: static;
  }
}

/* Styles pour la flèche de retour en haut */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

@media (max-width: 767px) {
  .back-to-top {
    left: auto;
  }
}
